apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "yk-dns-manager.fullname" . }}
  labels:
    {{- include "yk-dns-manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  strategy:
    type: {{ .Values.strategy.type }}
    {{- if eq .Values.strategy.type "RollingUpdate" }}
    rollingUpdate:
      {{- toYaml .Values.strategy.rollingUpdate | nindent 6 }}
    {{- else }}
    rollingUpdate: null
    {{- end }}
  selector:
    matchLabels:
      {{- include "yk-dns-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/domain-map: {{ include (print $.Template.BasePath "/configmap-domain-map.yaml") . | sha256sum }}
        checksum/dns-provider: {{ include (print $.Template.BasePath "/configmap-dns-provider.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "yk-dns-manager.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "yk-dns-manager.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --zap-log-level={{ .Values.logLevel }}
          env:
            - name: DOMAIN_MAP_PATH
              value: /etc/yk-dns-manager/domain-map/domain-map.yaml
            - name: DNS_PROVIDER_PATH
              value: /etc/yk-dns-manager/dns-provider/dns-provider.yaml

          {{- if .Values.dnsProvider.existingSecret }}
          envFrom:
            - secretRef:
                name: {{ .Values.dnsProvider.existingSecret }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: metrics
              containerPort: 9090
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: domain-map
              mountPath: /etc/yk-dns-manager/domain-map
              readOnly: true
            - name: dns-provider
              mountPath: /etc/yk-dns-manager/dns-provider
              readOnly: true
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: domain-map
          configMap:
            name: {{ include "yk-dns-manager.fullname" . }}-domain-map
        - name: dns-provider
          configMap:
            name: {{ include "yk-dns-manager.fullname" . }}-dns-provider
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
